#screen{
    width:100%;
    height:100%;
    display:block;
    position: absolute;
    color:azure;
}

body{
    margin:0;
    padding:0;
    font-family: UbuntuMono,monospace;
    background-color: rgb(39, 43, 45);
}

.code{
    font-size: 1.2em;
}

.person{
    color: orange;
}

.personuser{
    color:rgb(66, 129, 15);
}

input{
    background: inherit;
    width: calc(100% - 15*1.2em);
    height: auto;
    line-height: 20px;
    padding: 0px;
    text-indent: 3px;
    margin: 0px;
    border: medium none;
    font-family: UbuntuMono,monospace;
    font-size: 1em;
    color:azure;
}

a:visited, a:hover, a{
    color:lightblue;
}
